* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #1a1a1a;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;

  /* padding: 2rem; */
}

/* h1 {
  font-family: "Bodoni 72", "Bodoni MT", Didot, serif;
  font-style: italic;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: 15%; /* 10% of font size */
  /* font-weight: 200; */
/* } */